<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <!--
    Note: before each release, change both the product and upgrade versions,
    and generate a new product Id GUID.
    -->
    <Product Name='Blimp' Id='8F934390-ADB9-4071-B0CC-D9B13E0236F0'
             Language='1033' Codepage='1252' Version='1.0.0' Manufacturer='Boblycat'
             UpgradeCode='733D3C3F-C40F-4ADD-AF62-8CD66DBE93AD'>
        <Package Keywords='Installer'
                 Description="Blimp Photo Editor Installer"
                 Comments="Blimp is a layered photo editor" Manufacturer='Boblycat'
                 InstallerVersion='150' Languages='1033' Compressed='yes' SummaryCodepage='1252' />
        <Media Id='1' Cabinet='Blimp.cab' EmbedCab='yes'/>
        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='ProgramFilesFolder' Name='PFiles'>
                <Directory Id='BoblycatFolder' Name='Boblycat'>
                    <Directory Id='INSTALLDIR' Name='Blimp'>
                        <Component Id='GplLicense' Guid='DF8525D2-C828-4CBA-BA9E-32BDC752C052'>
                            <File Id='Copying' Name='COPYING'
                                  Source='COPYING' />
                        </Component>
                        <Directory Id='InstallBin' Name='bin'>
                            <Component Id='BlimpExecutable'
                                       Guid='2B083629-CEFD-454E-A0A6-ECAAE22C1C98'>
                                <File Id='blimp.exe' Name='blimp.exe' DiskId='1'
                                      Source='build\install\bin\blimp.exe' KeyPath='yes'>
                                    <Shortcut Id='BlimpShortcut'
                                              Advertise='yes'
                                              Directory='BoblycatMenuFolder' Name='Blimp'
                                              Show='normal' WorkingDirectory='InstallBin'>
                                    </Shortcut>
                                </File>
                                <RemoveFolder Id='RemoveBoblycatMenuFolder' On='uninstall'
                                              Property='BoblycatMenuFolder'/>
                            </Component>
                            <Component Id='DcrawExecutable'
                                       Guid='2AB516B9-9F0C-4A50-B8F4-A1BD4E7E2E8A'>
                                <File Id='blimp_dcraw.exe' DiskId='1'
                                      Name='blimp-dcraw.exe'
                                      Source='build\install\bin\blimp-dcraw.exe' />
                            </Component>
                        </Directory>
                        <Directory Id='InstallLib' Name='lib'>
                            <Component Id='BlimpJar'
                                       Guid='B837064F-D983-4B48-B00E-66A026CD57D6'>
                                <File Id='blimp.jar' Name='blimp.jar' DiskId='1'
                                      Source='build\install\lib\blimp.jar' />
                            </Component>
                            <Component Id='JiuJar'
                                       Guid='BD91C35B-ACDA-49EF-83F6-4F99373595EF'>
                                <File Id='jiu.jar' Name='jiu.jar' DiskId='1'
                                      Source='build\install\lib\jiu.jar' />
                            </Component>
                            <Component Id='SwtJar'
                                       Guid='F76EFBAE-C8CB-4003-9D04-DC3DDE113C8F'>
                                <File Id='swt.jar' Name='swt.jar' DiskId='1'
                                      Source='build\install\lib\swt.jar' />
                            </Component>
                            <Component Id='XercesImplJar'
                                       Guid='362B634C-B06C-4F4D-9919-4026EAAAD8DD'>
                                <File Id='xercesImpl.jar' DiskId='1'
                                      Name='xercesImpl.jar'
                                      Source='build\install\lib\xercesImpl.jar' />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id='ProgramMenuFolder' Name='PMFolder'>
                <Directory Id='BoblycatMenuFolder' Name='Boblycat'>
                </Directory>
            </Directory>
        </Directory>
        <Feature Id='DefaultFeature' Level='1'
                 Title='Blimp' Description='Blimp program and libraries'
                 ConfigurableDirectory='INSTALLDIR'>
            <ComponentRef Id='GplLicense'/>
            <ComponentRef Id='BlimpExecutable'/>
            <ComponentRef Id='DcrawExecutable'/>
            <ComponentRef Id='BlimpJar'/>
            <ComponentRef Id='JiuJar'/>
            <ComponentRef Id='SwtJar'/>
            <ComponentRef Id='XercesImplJar'/>
        </Feature>

        <Property Id='WIXUI_INSTALLDIR' Value='INSTALLDIR'/>
        <UIRef Id="WixUI_InstallDir_NoEula" />
        <UIRef Id="WixUI_ErrorProgressText" />

        <WixVariable Id='WixUIDialogBmp' Value='icons\blimp-wix-dialog.jpg'/>
        <WixVariable Id='WixUIBannerBmp' Value='icons\blimp-wix-banner.jpg'/>

        <!-- Upgrade information below -->
        <Upgrade Id='733D3C3F-C40F-4ADD-AF62-8CD66DBE93AD'>
            <UpgradeVersion Property='NEWVERSION' OnlyDetect='yes' Minimum='1.0.1' />
            <UpgradeVersion Property='OLDVERSION' Maximum='0.999.999' />
        </Upgrade>

        <!-- Refuse to install over a newer version -->
        <CustomAction Id='NewVersionFound'
                      Error='A newer Blimp version is already installed.' />
        <InstallExecuteSequence>
            <Custom Action='NewVersionFound' After='FindRelatedProducts'>NEWVERSION</Custom>
            <RemoveExistingProducts After='InstallFinalize'/>
        </InstallExecuteSequence>
    </Product>
</Wix>
