#!/bin/sh
JAVA=java
if [ -x "${java.path}" ]; then
  JAVA="${java.path}"
fi
BLIMP_HOME=${blimp.home}
DCRAW=/usr/bin/dcraw
LIB=$BLIMP_HOME/lib
XERCES_JAR=/usr/share/java/xercesImpl.jar
CLASSPATH=$LIB/blimp.jar:$LIB/jiu.jar:$XERCES_JAR:${swt.jar}
LIBRARY_PATH=${swt.jni.dir}

$JAVA -classpath $CLASSPATH -Dblimp.dcraw.path=$DCRAW -Djava.library.path=$LIBRARY_PATH -Xmx256M org.boblycat.blimp.gui.swt.MainWindow $*
