[Desktop Entry]
Name=Blimp
Comment=Photo Editor
Exec=/usr/bin/blimp
Icon=/usr/share/blimp/icons/blimp.png
Terminal=false
Type=Application
Categories=Application;Graphics;
