Source: blimp
Section: graphics
Priority: optional
Maintainer: Knut Arild Erstad <knutae@gmail.com>
Build-Depends: debhelper (>= 5), ant (>= 1.6.5), sun-java6-jdk, libswt3.2-gtk-java, imagemagick
Standards-Version: 3.7.2

Package: blimp
Architecture: all
Depends: dcraw, sun-java6-jre, libswt3.2-gtk-java, libxerces2-java
Description: A layered photo editor
 Blimp is a layer-based photo editor.  It supports
 many raw formats (through dcraw), 8-bit or 16-bit
 color depth per channel and editing operations
 including curves, grayscale mixer, resize and
 unsharp mask, all of which are adjustment layers.
